---
layout:
title: "404 Page Not Found"
permalink: 404.html
sitemap: false
---

<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 Page Not Found!</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700%7CRoboto%7CSource+Code+Pro">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <style>
      .container > .fnf { margin: 3rem auto 1.5rem; max-width: 32em; text-align: center; }
      h1 { font-size: 48px; font-weight: 300; letter-spacing: -1px; line-height: 60px; }
      .fnf p { margin: 20px 0; line-height: 1.6; }
      code { padding: 0; color: inherit; background-color: transparent; }
    </style>
    <script type="text/javascript">
      function loadPath() {
        var display = document.getElementById("display-path");
        display.innerHTML = window.location.pathname;
      }
    </script>
  </head>
  <body onload="javascript:loadPath();" class="d-flex flex-column h-100">
    {% include navbar.html %}

    <main class="site-content" id="content">
      <div class="container">
        <div class="fnf">
          <h1>404</h1>
          <p style="color:rgba(0,0,0,.5);"><strong>File not found</strong></p>
          <p>Sorry, the requested URL <code><span id="display-path"></span>
            </code> was not found on this server. Perhaps head back
            <a href="{{ site.baseurl }}/">home</a> and try finding it again.</p>
        </div>
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
