// scss-lint:disable QualifyingElement, SpaceAfterComma

//
// Base styles
//

.btn {
  display: inline-block;
  min-width: 72px;
  padding: $btn-padding-y $btn-padding-x;
  margin: 0 0 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-base;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: $input-btn-border-width solid transparent;
  border-radius: $btn-border-radius;
  @include user-select();
  @include transition($btn-transition);
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: .65;
    @include box-shadow(none);
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-image: none;
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}


//
// Alternate buttons
//

.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.btn-alternate {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
