// Inline and block code styles
code,
kbd,
pre,
samp {
  font-family: $font-family-monospace;
}

// Inline code
code {
  padding: 0.2rem 0.4rem;
  font-size: $code-font-size;
  color: $code-color;
  background-color: $code-bg;
  border-radius: 0.25rem;
}

// User input typically entered via keyboard
kbd {
  padding: 0.2rem 0.4rem;
  font-size: 90%;
  color: $kbd-color;
  background-color: $kbd-bg;
  border-radius: 0.2rem;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);

  kbd {
    padding: 0;
    font-size: 100%;
    font-weight: bold;
    box-shadow: none;
  }
}

// Blocks of code
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: $pre-font-size;
  line-height: $line-height-base;
  color: $pre-color;

  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
  }
}
