// stylelint-disable scss/dollar-variable-default

// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// Colors
//
$black:             #000;
$black-01:          rgba($black, .1);
$black-02:          rgba($black, .2);
$gray-200:          #e9ecef;
$gray-100:          #f8f9fa;
$white:             #fff;
$blue:              #007bff;

// Links
//
$link-color:        #448aff;
$link-hover-color:  darken($link-color, 10%);

// Paragraphs
//
//$paragraph-margin-bottom:   1.25rem;

// Typography
//
// stylelint-disable value-keyword-case
//$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   "Source Code Pro", monospace;

$font-family-opensans:    "Open Sans", sans-serif;
$font-family-roboto:      Roboto, sans-serif;
$font-family-base:        $font-family-opensans;
// stylelint-enable value-keyword-case

$font-size-base:              1rem;

$font-size-xs:                .75rem;

//$headings-margin-bottom:      .75rem;
$headings-font-family:        $font-family-roboto;

$mark-padding:                0 .2em;
$mark-bg:                     #ffeea8;

$blockquote-font-size:        ($font-size-base * 1.125);
$blockquote-footer-font-size: .9375rem;
$blockquote-border-width:     .3125rem;
$blockquote-border-color:     $gray-200 !default;


// Code
//
$code-font-size:   .9375rem;
$code-padding-y:   1px;
$code-padding-x:   2px;
$code-bg:          $gray-100;

$kbd-bg:           inherit;

$pre-bg:           $gray-100;


// Navbar
//

$navbar-font-family:        $font-family-roboto;
$navbar-bg-color:           #28aadc;
$navbar-box-shadow:         1px 1px 1px rgba($black, .16);

$navbar-toggler-padding-y:  .4375rem;
$navbar-toggler-padding-x:  .6875rem;

$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 24 24'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E");
$navbar-dark-toggler-icon-bg-collapsed: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 24 24'%3E%3Cpath d='M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z'/%3E%3C/svg%3E");
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 24 24'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E");
$navbar-light-toggler-icon-bg-collapsed: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 24 24'%3E%3Cpath d='M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z'/%3E%3C/svg%3E");

$navbar-toggler-dark-outline-color:    rgba($white, .2);
$navbar-toggler-light-outline-color:   rgba($black, .25);

$navbar-toggler-transition:   background-image .2s ease-in-out;


// Footer
//
$footer-bg-color:   #fafbfc;
$footer-svg-color:  #959da5;
$footer-text-color: #586069;
