// scss-lint:disable SpaceAfterComma

// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// Colors
//
$gray-dark:         #373a3c;
$gray-medium:       #71767a;
$gray-lightest:     #f7f7f9;
$gray-01:           rgba(0,0,0,.1);
$gray-02:           rgba(0,0,0,.2);


// Links
//
$link-color:        #448aff;
$link-hover-color:  #448aff;


// Typography
//
//$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-sans-serif: 'Lato', sans-serif;
$font-family-monospace:  'Source Code Pro', monospace;

$font-size-base:            1rem;

$headings-margin-bottom:    .75rem;

$mark-bg:                   #ffff80;

$blockquote-font-size:      ($font-size-base * 1.125);
$blockquote-footer-font-size: .9375rem;
$blockquote-border-width:   .3125rem;


// Code
//
$code-font-size:   .9375rem;
//$code-color:       #e83e8c;
$code-padding-x:   4px;
$code-padding-y:   2px;

$pre-bg:           $gray-lightest;
$pre-border-color: darken($pre-bg, 7%);
$pre-font-size:    .9375em;


// Border-radius
//
$border-radius:       .125rem;


// Navbar
//
$navbar-padding-y:          .5rem;
$navbar-padding-x:          0;
$navbar-brand-padding-y:    .3125rem;
$navbar-toggler-padding-y:  0;

$navbar-font-family:        'Roboto', sans-serif;
$navbar-bg-color:           #28aadc;


// Buttons
//
$btn-line-height: 18px;
$btn-padding-y: .625rem;
