// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container,
.container-fluid {
  @include make-container();
}
.container {
  @include make-container-max-widths();
}


// Row
//
// Rows contain and clear the floats of your columns.

.row {
  @include make-row();
}


// Grid system

// Base class for every column (requires a column width from below)
.column {
  position: relative;
  width: 100%;
  min-height: 1px;  // Prevent collapsing
  padding-right: ($grid-gutter-width / 2);
  padding-left: ($grid-gutter-width / 2);
}

// Column widths
@media (min-width: 768px) {
  .one-third {
    flex: 0 0 33.333333%;
    width: 33.333333%;
  }

  .two-thirds {
    flex: 0 0 66.666667%;
    width: 66.666667%;
  }

  .one-fourth {
    flex: 0 0 25%;
    width: 25%;
  }

  .one-half {
    flex: 0 0 50%;
    width: 50%;
  }

  .three-fourths {
    flex: 0 0 75%;
    width: 75%;
  }

  .one-fifth {
    flex: 0 0 20%;
    width: 20%;
  }

  .four-fifths {
    flex: 0 0 80%;
    width: 80%;
  }
}
