// scss-lint:disable VendorPrefix

@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
  transition: $transition;
}


// Utilities
@import 'mixins/hover';
@import 'mixins/image';
@import 'mixins/screen-reader';
@import 'mixins/tab-focus';
@import 'mixins/user-select';

// // Components
@import 'mixins/buttons';
@import 'mixins/forms';

// // Skins
@import 'mixins/border-radius';

// // Layout
@import 'mixins/clearfix';
@import 'mixins/grid';
@import 'mixins/float';
