// scss-lint:disable SpaceAfterComma

// Base class
//

// Provide a static navbar from which we expand to create other navbar variations.

.navbar {
  position: relative;
  padding: $navbar-padding-y $navbar-padding-x;
  font-family: $navbar-font-family;
  background-color: $navbar-bg-color;
  //  box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
  //  box-shadow: 0 8px 16px rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
  box-shadow: 1px 1px 1px rgba($black, .16);
  -webkit-tap-highlight-color: rgba($black, 0);
  @include clearfix;
}


// Navbar alignment options
//

// A static, full width modifier with no rounded corners.
.navbar-full {
  z-index: 1000;
}


// Navbar heading
//
// Groups `.navbar-brand` and `.navbar-toggle` into a single component for easy
// styling of responsive aspects.

.navbar-header {
  @include clearfix;

  @media (min-width: $grid-float-breakpoint) {
    float: left;
  }
}


//
// Brand/project name
//

.navbar-brand {
  float: left;
  padding-top: $navbar-brand-padding-y;
  padding-bottom: $navbar-brand-padding-y;
  margin-right: 1rem;
  font-size: $font-size-lg;
  line-height: inherit;
  letter-spacing: .4px;

  @include hover-focus {
    text-decoration: none;
  }
}


// Navbar toggle
//
// Custom button for toggling the `.navbar-collapse`, powered by the collapse
// Bootstrap JavaScript plugin.

.navbar-toggler {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 2.4em;
  height: 2.1em;
  padding: $navbar-toggler-padding-y;
  font-size: $font-size-lg;
  line-height: 1;
  background: transparent no-repeat center center;
  background-size: 24px 24px;
  border: $border-width solid transparent;
  @include border-radius($navbar-toggler-border-radius);

  &:focus {
    outline: 0;
  }
}


// Navigation
//
// Custom navbar navigation built on the base `.nav` styles.

.navbar-nav {
  .nav-item {
    float: left;

    + .nav-item {
      margin-left: 1rem;
    }
  }

  .nav-link {
    display: block;
    padding-top: .5rem;
    padding-bottom: .5rem;
    letter-spacing: .2px;

    + .nav-link {
      margin-left: 1rem;
    }
  }
}


// Dark links against a light background
.navbar-light {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-light-active-color;

    @include hover-focus {
      color: $navbar-light-hover-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-light-color;

      @include hover-focus {
        color: $navbar-light-hover-color;
      }

      &.disabled {
        color: $navbar-light-disabled-color;
      }
    }

    .active > .nav-link,
    .nav-link.active {
      @include plain-hover-focus {
        color: $navbar-light-active-color;
      }
    }
  }

  .navbar-toggler {
    background-image: $navbar-light-toggler-bg;
    border-color: $navbar-light-toggler-border-color;

    &.collapsed {
      background-image: $navbar-light-toggler-bg-collapsed;
    }
  }
}


// White links against a dark background
.navbar-dark {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-dark-active-color;

    @include hover-focus {
      color: $navbar-dark-hover-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-dark-color;

      @include hover-focus {
        color: $navbar-dark-hover-color;
      }

      &.disabled {
        color: $navbar-dark-disabled-color;
      }
    }

    .active > .nav-link,
    .nav-link.active {
      @include plain-hover-focus {
        color: $navbar-dark-active-color;
      }
    }
  }

  .navbar-toggler {
    background-image: $navbar-dark-toggler-bg;
    border-color: $navbar-dark-toggler-border-color;

    &.collapsed {
      background-image: $navbar-dark-toggler-bg-collapsed;
    }
  }
}


// Navbar toggleable
//
// Custom override for collapse plugin in navbar.

// Placed at the end of the file so it can override some CSS properties
.navbar-toggleable {
  @include clearfix;

  @media (max-width: $grid-float-breakpoint-max) {
    .navbar-nav {
      margin-top: .5rem;
      margin-bottom: .5rem;

      .nav-item {
        float: none;
        margin-left: 0;
      }
    }
  }

  @media (min-width: $grid-float-breakpoint) {
    display: block !important;
  }
}
