//
// Clear floats
//

.clearfix {
  @include clearfix;
}


//
// Floats
//

.float-left  { @include float-left; }
.float-right { @include float-right; }
.float-none  { @include float-none; }


@media (min-width: 768px) {
  .float-md-left {
    float: left !important;
  }

  .float-md-right {
    float: right !important;
  }

  .float-md-none {
    float: none !important;
  }
}


//
// Responsive visibility utilities
//

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}


//
// Layout
//

// Centers content horizontally. Can be used inside or outside the grid.
//.centered {
//  display: block;
//  float: none;
//  margin-right: auto;
//  margin-left: auto;
//}


//
// Screenreaders
//

.sr-only {
  @include sr-only();
}

.sr-only-focusable {
  @include sr-only-focusable();
}

// Usage as a mixin
.skip-navigation {
  @include sr-only;
  @include sr-only-focusable;
}


// Some special margin utils
///
.mb0 {
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: .5rem;
}

.mb2 {
  margin-bottom: 1.5rem;
}


//
// Text
//

// Alignment
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }

// Contextual colors

.text-muted {
  color: $text-muted;
}


//
// Images
//

// Alignment

.img-left,
.figure-left {
  float: left;
  margin: 5px 20px 5px 0;
}

.img-right,
.figure-right {
  float: right;
  margin: 5px 0 5px 20px;
}

.img-center {
  display: block;
  margin: 5px auto;
}


// Misc
.hidden {
  display: none;
}
