// stylelint-disable property-no-vendor-prefix

@mixin user-select() {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@mixin appearance() {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

