{% for navbar_link in site.navbar_links %}
  {% if navbar_link.name == page.title %}
  <a class="nav-link active" href="{{ site.baseurl }}{{ navbar_link.url }}">{{ navbar_link.name }}<span class="sr-only">(current)</span></a>
  {% else %}
  <a class="nav-link" href="{{ site.baseurl }}{{ navbar_link.url }}">{{ navbar_link.name }}</a>
  {% endif %}
{% endfor %}
  <a class="nav-link" href="{{ site.baseurl }}/feed.xml" title="Subscribe">
    <svg class="octicon octicon-rss" viewBox="0 0 10 16" version="1.1" width="12" height="20" aria-label="RSS feed" role="img"><path fill-rule="evenodd" d="M2 13H0v-2c1.11 0 2 .89 2 2zM0 3v1a9 9 0 0 1 9 9h1C10 7.48 5.52 3 0 3zm0 4v1c2.75 0 5 2.25 5 5h1c0-3.31-2.69-6-6-6z"/></svg>
  </a>
