<header class="navbar navbar-full navbar-dark" id="top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggler float-right hidden-md-up collapsed" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
          </button>
          <a class="navbar-brand" href="{{ '/' | relative_url }}">
            {{ site.title | escape }}
          </a>
        </div>
        <nav class="collapse navbar-toggleable" id="main-nav">
          <ul class="nav navbar-nav float-md-right">
            {% if page.title == 'Home' %}<li class="nav-item active"><a class="nav-link" href="{{ '/' | relative_url }}">Home <span class="sr-only">(current)</span></a></li>
            {% else %}<li class="nav-item"><a class="nav-link" href="{{ '/' | relative_url}} ">Home</a></li>
            {% endif %}
            {% if page.title == 'Archives' %}<li class="nav-item active"><a class="nav-link" href="{{ '/blog/archive/' | relative_url }}">Archives <span class="sr-only">(current)</span></a></li>
            {% else %}<li class="nav-item"><a class="nav-link" href="{{ '/blog/archive/' | relative_url }}">Archives</a></li>
            {% endif %}
            {% if page.title == 'About' %}<li class="nav-item active"><a class="nav-link" href="{{ '/about/' | relative_url }}">About <span class="sr-only">(current)</span></a></li>
            {% else %}<li class="nav-item"><a class="nav-link" href="{{ '/about/' | relative_url }}">About</a></li>{% endif %}
          </ul>
        </nav>
      </div>
    </header>
