<header class="navbar navbar-expand-md navbar-dark bg-custom flex-shrink-0" id="top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">
          {{ site.title | smartify }}
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <nav class="collapse navbar-collapse" id="main-nav">
          <ul class="navbar-nav ml-auto">
            {% if page.title == 'Home' %}
            <li class="nav-item active"><a class="nav-link" href="{{ '/' | relative_url }}">Home <span class="sr-only">(current)</span></a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ '/' | relative_url}} ">Home</a></li>
            {% endif %}
            {% if page.title == 'About' %}<li class="nav-item active"><a class="nav-link" href="{{ '/about/' | relative_url }}">About <span class="sr-only">(current)</span></a></li>
            {% else %}<li class="nav-item"><a class="nav-link" href="{{ '/about/' | relative_url }}">About</a></li>
            {% endif %}
            {% if page.title == 'Archives' %}<li class="nav-item active"><a class="nav-link" href="{{ '/blog/archive/' | relative_url }}">Archives <span class="sr-only">(current)</span></a></li>
            {% else %}<li class="nav-item"><a class="nav-link" href="{{ '/blog/archive/' | relative_url }}">Archives</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>
