// stylelint-disable selector-no-qualifying-type

// Table of Contents
//
//  1. Typography (responsive headings, etc)
//  2. Navigation menu
//  3. Skip link
//  4. Achive & Tag pages
//  5. Post footer
//  6. Post pagination
//  7. Octicons
//  8. Site footer
//  9. Index page & miscellaneous


//  1. Typography (responsive headings, etc)
//

.entry-title,
.page-title {
  margin-bottom: 1.75rem;
  font-family: $font-family-base;
  @include font-size(2.75rem);
  font-weight: 300;
  letter-spacing: -1px;
}

.entry-title a {
  color: $body-color;

  &:hover,
  &:focus {
    text-decoration: none;
    opacity: .54;
  }
}

abbr[title] {
  text-decoration: none;
  border-bottom: 1px dotted $gray-600;
}

.footnote {
  display: inline-block;
  margin-left: .1rem;
  font-weight: $font-weight-bold;
}

// Blockquotes
blockquote {
  padding: ($spacer / 2) $spacer;
  @include font-size($blockquote-font-size);
  border-left: $blockquote-border-width solid $blockquote-border-color;

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  p::before {
    content: "\201C";
  }

  p::after {
    content: "\201D";
  }
}


// Code
code {
  padding: $code-padding-y $code-padding-x;
  background-color: $code-bg;
  @include border-radius($border-radius);
}

kbd {
  font-size: 1rem;
  color: inherit;

  kbd {
    padding: $kbd-padding-y $kbd-padding-x;
    font-size: $kbd-font-size;
    color: $kbd-color;
    background-color: $gray-900;
  }
}


// Make ALL images responsive
img {
  @include img-fluid();
}


// 2. Navigation menu
//

.navbar {
  font-family: $navbar-font-family;
  box-shadow: $navbar-box-shadow;
}

.bg-custom {
  background-color: transparent;
  background-image: $navbar-bg-color;
}

.text-white-50 {
  color: rgba(255,255,255,0.5) !important;
}

.navbar-toggler {
  margin-right: -.25rem;
  line-height: 18px;
}

.navbar-dark {
  .navbar-toggler {
    &:focus {
      outline: solid 1px $navbar-toggler-dark-outline-color;
    }
  }

  .collapsed {
    .navbar-toggler-icon {
      background-image: $navbar-dark-toggler-icon-bg-collapsed;
    }
  }
}

.navbar-light {
  .navbar-toggler {
    &:focus {
      outline: solid 1px $navbar-toggler-light-outline-color;
    }
  }

  .collapsed {
    .navbar-toggler-icon {
      background-image: $navbar-light-toggler-icon-bg-collapsed;
    }
  }
}

.navbar-toggler-icon {
  width: 1.2em;
  height: 1.2em;
  @include transition ($navbar-toggler-transition);
}

.navbar > .container-fluid {
  max-width: 1140px;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

// 3. Skip link
//

.skip-navigation {
  @include sr-only();
  @include sr-only-focusable();
}

.skip-navigation:active,
.skip-navigation:focus {
  position: absolute;
  top: 62px;
  left: 6px;
  z-index: 1050;
  padding: 12px 16px;
  font-size: 14px;
  color: $link-color;
  text-decoration: none;
  background-color: $gray-200;
  @include border-radius($border-radius-sm);
  outline: 0;
  box-shadow: 0 2px 5px 0 rgba($black, .26);
}

.skip-navigation:hover {
  text-decoration: underline;
}


// 4. Archive & Tag pages
//

.post-tags .post-date,
.post-archive .post-date {
  display: block;
  margin-bottom: .5rem;
  font-size: 13px;
  line-height: 21px;
  color: $gray-600;
}

.post-tags ul,
.post-archive ul {
  margin-bottom: 1.5rem;
}

.post-tags h3,
.post-archive h3 {
  font-weight: 500;
}


// 5. Post footer
//

.entry-footer {
  padding: 1.5rem;
  font-size: .9375rem;
  color: $gray-600;
  border-top: 1px solid rgba($black, .1);
  border-bottom: 1px solid rgba($black, .1);

  @media (max-width: 575px) {
    padding: 1.5rem 1rem;
    margin-right: -15px;
    margin-left: -15px;
  }

  a {
    color: $gray-600;

    &:hover,
    &:focus {
      color: $body-color;
    }
  }
}

.posted-on,
.tag-links {
  margin-right: 2rem;
}


// 6. Post pagination
//

.post-navigation span {
  display: block;
}

.post-navigation a {
  display: block;
  padding: 1.5rem 1rem;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

@media (max-width: 575px) {
  .post-navigation .column {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .nav-previous,
  .nav-next {
    border-bottom: 1px solid rgba($black, .1);
  }
}

.post-title {
  font-family: $headings-font-family;
  font-size: 1.5rem;
  line-height: 1.25;
  //color: $body-color;
  color: $link-color;

  &:hover,
  &:focus {
    //opacity: .54;
    color: darken($gray-500, 5%);
  }
}

.meta-nav {
  font-size: .8125rem;
  color: $gray-600;
  text-transform: uppercase;
}


// 7. Octicons
//

.octicon {
  display: inline-block;
  vertical-align: text-bottom;
  //transform: translate(0, 0);
  fill: currentColor;
}

.octicon-calendar,
.octicon-tag {
  position: relative;
  top: -1px;
  margin-right: 2px;
}


// 8. Site footer
//
.site-footer {
  padding: 1.5rem 1rem;
  font-size: .75rem;
  background-color: darken($gray-100, .5%);

  @media (min-width: 768px) {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

.footer-nav {
  padding-left: 0;
  list-style: none;

  a {
    color: darken($gray-500, 5%);
  }
}

.site-info {
  font-family: $font-family-sans-serif;
  color: lighten($gray-700, 5%);

  a {
    color: $gray-600;

    &:hover {
      color: $link-hover-color;
    }
  }
}

.hover-orange {
  &:hover {
    color: $orange-hover;
  }
}

.hover-cyan {
  &:hover {
    color: $cyan-hover;
  }
}

.hover-grape {
  &:hover {
    color: $grape-hover;
  }
}


// 9. Index page & miscellaneous
//

.site-content {
  flex: 1 0 auto;

  > .container {
    padding-top: 48px;
    padding-bottom: 48px;

    @media (min-width: 768px) {
      max-width: 42em;
    }
  }
}

.home {
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba($black, .1);

  &:last-child {
    border-bottom-color: transparent;
  }

  > .entry-title {
    margin-bottom: 1.25rem;
  }
}

.entry-header {
  margin-bottom: 1rem;
  font-size: .875rem;
  color: $gray-600;
}

.more-link {
  margin-bottom: 1.5rem;
  font-size: .9375rem;
}

.post-content {
  padding-bottom: 2rem;

  img:not(.img-thumbnail) {
    @include border-radius(3px);
    box-shadow: 0 1px 4px rgba($black, .2);
  }
}

// miscellaneous
//

.btn {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .1);
}

.formspree {
  max-width: 26rem;
  padding: 1.5rem;
  margin: 2rem auto 3rem;
  border: 1px solid $gray-400;
  @include border-radius(.25rem);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .1);

  .btn {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.form-group {
  margin-bottom: 1.5rem;
  font-size: $font-size-sm;
}

.required {
  display: inline-block;
  padding-left: 5px;
  color: #e13557;
}

// Back to Top

.toplink {
  padding-top: 1.25rem;
  font-size: .875rem;
  color: darken($gray-500, 5%);

  &:hover {
    color: $green-hover;
    text-decoration: none;
  }

  @media print {
    display: none;
  }
}


// Under construction

.welcome {
  max-width: 560px;
  margin: 3rem auto 1.5rem;
  font-family: $font-family-sans-serif;
  text-align: center;

  h2 {
    margin: 0 0 1.5rem;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: -1px;
  }

  p {
    color: #444;
  }

  .octicon-tools {
    margin: 3rem;
    color: rgba($black, .5);
  }
}
