---
---

// Overrides go here for convenience
//
$font-family-sans-serif:    'Open Sans', 'Helvetica Neue', Arial, sans-serif !default;
$font-family-monospace:     'Source Code Pro', Menlo, Monaco, Consolas, monospace !default;

// Import our base styles
@import 'scss/framework';


//
// Site specific styles continue below ------------------------
//

.skip-navigation:active,
.skip-navigation:focus {
  position: absolute;
  left: 6px;
  top: 71px;
  z-index:1050;
  padding: 0.75rem 1rem;
  color: #428bca;
  background-color: $gray-lighter;
  font-size: 0.875rem;
  outline: 0;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.skip-navigation:hover {
  text-decoration: underline;
}

form.contact {
  max-width: 22rem;
}

ol, ul {
  padding-left: 2rem;
}

blockquote {
  margin: 1.25rem 0;
  font-size: 1.125rem;
}


// Quick spacing
.mb0 {
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: 0.5rem;
}

.mb2 {
  margin-bottom: 1.5rem;
}


/*--------------------------------------------------------------
# Navigation menu
--------------------------------------------------------------*/
.navbar {
  font-family: 'Noto Sans', arial, sans-serif;
  font-weight: 400;
}

.navbar-bg {
  background-color: #428bca;
}

.navbar-brand {
  letter-spacing: 0.025rem;
}

.nav-link {
  font-size: 0.875rem;
  letter-spacing: 0.025rem;
}


/*--------------------------------------------------------------
# Headings
--------------------------------------------------------------*/
.entry-title,
.page-title {
  margin-bottom: 1.75rem;
  font-size: 2rem;              // 32px
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: -0.0625rem;

  @media (min-width: 768px) {
    font-size: 2.5rem;          // 40px
  }

  @media (min-width: 992px) {
    font-size: 3rem;            // 48px
  }
}

.entry-title a,
.post-title a {
  color: #333;
}

.entry-title a:hover,
.entry-title a:focus,
.post-title a:hover,
.post-title a:focus {
  color: $link-color;
  box-shadow: none;
}

h1 {
  font-size: 2rem;              // 32px
  line-height: 1.25;
  letter-spacing: -0.025rem;

  @media (min-width: 768px) {
    font-size: 2.25rem;         // 36px
  }

  @media (min-width: 992px) {
    font-size: 2.5rem;          // 40px
  }
}

h2 {
  font-size: 1.5rem;            // 24px
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.03125rem;

  @media (min-width: 768px) {
  font-size: 1.75rem;           // 28px
  }

  @media (min-width: 992px) {
    font-size:  2rem;           // 32px
  }
}

h3 {
  font-size: 1.375rem;          // 22px
  line-height: 1.25;
  letter-spacing: -0.025rem;

  @media (min-width: 768px) {
    font-size: 1.5625rem;       // 25px
  }

  @media (min-width: 992px) {
    font-size: 1.75rem;         // 28px
  }
}

h4 {
  font-size: 1.25rem;           // 20px

  @media (min-width: 992px) {
    font-size:  1.5rem;         // 24px
  }
}

h5 {
  font-size: 1.125rem;          // 18px

  @media (min-width: 992px) {
    font-size: 1.25rem;         // 20px
  }
}

h6 {
  font-size: 1rem;              // 16px
}


/*--------------------------------------------------------------
# Miscellaneous
--------------------------------------------------------------*/
#content {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.home {
  margin-bottom: 2.5rem;
}

.post-content {
  padding-bottom: 2rem;

  img {
    border-radius: 3px;
    box-shadow: 0 1px 4px $gray-02;
  }
}

.more-link {
  margin-bottom: 1.5rem;
  font-size: 0.9375rem;
}

.next {
  color: $link-color;
}

.welcome {
  margin: 3rem auto 1.5rem;
  max-width: 560px;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', sans-serif;
  text-align: center;

  h2 {
    margin: 0 0 1.5rem 0;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1.25;
  }

  p {
    color: #444;
  }

  .octicon-tools {
    margin: 3rem;
    color: rgba(0, 0, 0, 0.5);
  }
}


/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
.post-navigation {
  margin-top: 1.5rem;

  @media (min-width: 768px) {
    margin-top: 2rem;
  }

  @media (min-width: 1200px) {
    margin-top: 2.5rem;
  }
}

.post-navigation span {
  display: block;
}

.post-navigation .post-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1.25;
}

.meta-nav {
  color: $gray-medium;
  font-size: 0.8125rem;
  text-transform: uppercase;
}


/*--------------------------------------------------------------
# Post footer
--------------------------------------------------------------*/
.entry-footer {
  padding: 1.5rem;
  background-color: $gray-lightest;
  color: $gray-medium;
  font-size: 0.875rem;

  @media (max-width: 575px) {
    margin-left: -15px;
    margin-right: -15px;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid $gray-01;
  }
}

.entry-footer a {
  color: $gray-medium;
}

.entry-footer a:hover,
.entry-footer a:focus {
  color: $body-color;
  box-shadow: 0 1px 0 0 currentColor;
}

.posted-on,
.tag-links {
  margin-right: 2rem;
}


/*--------------------------------------------------------------
# Octicons (SVG icons)
--------------------------------------------------------------*/
.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
  transform:translate(0,0);
}

.octicon-calendar,
.octicon-tag {
  position: relative;
  margin-right: 2px;
}

.octicon-calendar {
  top: 1px;
}

.octicon-tag {
  top: 2px;
}

.octicon-rss {
  margin-top: 5px;
  margin-left: 2px;
  fill: #fff;
}

a.rss:hover,
a.rss:focus {
  box-shadow: none;
}

.rss {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #ffa726;    // #ffa500;
  border-radius: 50%;
  text-align: center;
}

.rss:hover,
.rss:focus {
  background-color: #ff9800;
}


/*--------------------------------------------------------------
# Achive & Tag pages
--------------------------------------------------------------*/
.post-tags .post-date,
.post-archive .post-date {
  display: block;
  font-size: 0.8125rem;
  line-height: 1.61538;
  margin-bottom: 0.5rem;
  color: $gray-light;
}

.post-tags ul,
.post-archive ul {
  margin-bottom: 1.5rem;
}


/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/
.site-footer {
  padding: 1.5rem 0;
  //margin-top: 4rem;
  font-size: 0.8125rem;
  text-align: center;
  background-color: $gray-lightest;
}

.site-footer p {
  margin-bottom: 0;
}

.site-footer ul {
  padding: 0;
  margin-bottom: 0.625rem;
}

.site-footer li {
  display: inline-block;
}

.site-footer a {
  color: $gray;
}

.site-footer a:hover {
  color: $link-color;
}


/* Make the footer sticky
-------------------------*/
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 109px;
}

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 109px;
}
