---
---

@charset 'utf-8';
// scss-lint:disable SpaceAfterComma, QualifyingElement, VendorPrefix

// Import our base styles
@import 'scss/bootstrap';


// Table of Contents
//
//  1. Typography (responsive headings, etc)
//  2. Navigation menu
//  3. Skip link
//  4. Achive & Tag pages
//  5. Post footer
//  6. Post pagination
//  7. Octicons
//  8. Site footer
//  9. Index page & miscellaneous


//  1. Typography (responsive headings, etc)
//

.entry-title,
.page-title {
  margin-bottom: 1.5rem;
  font-size: 2.25rem;    // 36px
  font-weight: 300;
  letter-spacing: -1px;

  @media (min-width: 768px) {
    font-size: 2.5rem;   // 40px
  }

  @media (min-width: 992px) {
    font-size: 2.75rem;  // 44px
  }
}

.entry-title a {
  color: $body-color;

  @include hover-focus {
    text-decoration: none;
    opacity: .54;
  }
}

h1 {
  font-size: 2rem;         //32px
  line-height: 1.25;
  letter-spacing: -.4px;

  @media (min-width: 768px) {
    font-size: 2.25rem;    //36px
  }

  @media (min-width: 992px) {
    font-size: 2.5rem;     // 40px
  }
}

h2 {
  font-size: 1.5rem;       // 24px
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -.5px;

  @media (min-width: 768px) {
    font-size: 1.75rem;    //28px
  }

  @media (min-width: 992px) {
    font-size: 2rem;       //32px
  }

  .entry-title {
    margin-bottom: 1.25rem;
  }
}

h3 {
  font-size: 1.375rem;     //22px
  line-height: 1.25;
  letter-spacing: -.4px;

  @media (min-width: 768px) {
    font-size: 1.5625rem;  // 25px
  }

  @media (min-width: 992px) {
    font-size: 1.75rem;    // 28px
  }
}

h4 {
  font-size: 1.25rem;      // 20px

  @media (min-width: 992px) {
    font-size: 1.5rem;     // 24px
  }
}

h5 {
  font-size: 1.125rem;     // 18px
  font-weight: 600;

  @media (min-width: 992px) {
    font-size: 1.25rem;    // 20px
  }
}

h6 {
  font-size: 1rem;         // 16px
  font-weight: 600;
}

abbr[title] {
  text-decoration: none;
  border-bottom: 1px dotted #adadad;
}

blockquote {
  margin: 1.25rem 0;
}

table {
  margin: 1.25rem 0;
}

label {
  font-size: .875rem;
}

kbd {
  padding: 0;
  font-size: 1rem;
  color: inherit;
  background-color: inherit;
  border-radius: 0;
  box-shadow: none;

  kbd {
    display: inline;
    padding: .2em .4em;
    font: 14px/1 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    background: #222;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0,0,0,.7), 0 1px 0 #444, inset 0 1px 0 #505050;
  }
}


// 2. Navigation menu
//

// custom override for small tablets
@media (max-width: $grid-float-breakpoint-max) {
  .navbar > .container {
    width: 100%;
  }
}

// the next two go together...
@media (max-width: $grid-float-breakpoint-max) {
  .navbar-brand {
    margin-left: .25rem;
  }
}

@media (max-width: $grid-float-breakpoint-max) {
  .navbar-nav .nav-link {
    padding: .5rem;
  }
}


// 3. Skip link
//

.skip-navigation:active,
.skip-navigation:focus {
  position: absolute;
  top: 71px;
  left: 6px;
  z-index: 1050;
  padding: 12px 16px;
  font-size: 14px;
  color: $link-color;
  text-decoration: none;
  background-color: $gray-lighter;
  border-radius: $border-radius;
  outline: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.skip-navigation:hover {
  text-decoration: underline;
}


// 4. Archive & Tag pages
//

.post-tags .post-date,
.post-archive .post-date {
  display: block;
  margin-bottom: .5rem;
  font-size: 13px;
  line-height: 21px;
  color: $gray-light;
}

.post-tags ul,
.post-archive ul {
  margin-bottom: 1.5rem;
}


// 5. Post footer
//

.entry-footer {
  padding: 1.5rem;
  margin-bottom: 1.25rem;
  font-size: .875rem;
  color: $gray-medium;
  background-color: $gray-lightest;

  @media (max-width: 575px) {
    padding: 1.5rem 1rem;
    margin: 0 -15px;
    border-bottom: 1px solid $gray-01;
  }

  a {
    color: $gray-medium;

    @include hover-focus {
      color: $body-color;
    }
  }
}

.posted-on,
.tag-links {
  margin-right: 2rem;
}


// 6. Post pagination
//

.post-navigation span {
  display: block;
}

.post-navigation a {
  display: block;
  padding: 1rem;

  @include hover-focus {
    text-decoration: none;
  }
}

@media (max-width: 575px) {
  .post-navigation .column {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .nav-previous,
  .nav-next {
    border-bottom: 1px solid $gray-01;
  }
}

.post-title {
  font-size: 1.5rem;
  line-height: 1.25;
  color: $body-color;

  @include hover-focus {
    opacity: .54;
  }
}

.meta-nav {
  font-size: .8125rem;
  color: $gray-medium;
  text-transform: uppercase;
}


// 7. Octicons
//

.octicon {
  display: inline-block;
  vertical-align: text-top;
  transform: translate(0, 0);
  fill: currentColor;
}

.octicon-calendar,
.octicon-tag {
  position: relative;
  margin-right: 2px;
}

.octicon-calendar {
  top: 1px;
}

.octicon-tag {
  top: 2px;
}

.octicon-rss {
  margin-top: 5px;
  margin-left: 2px;
  fill: #fff;
}

.rss {
  display: block;
  width: 32px;
  height: 32px;
  text-align: center;
  background-color: #ffb74d;
  border-radius: 50%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  @include hover-focus {
    background-color: #ffa726;
  }
}

.octicon-note {
  margin-top: 8px;
  fill: #fff;
}

.mail {
  display: block;
  width: 32px;
  height: 32px;
  margin-left: .5rem;
  text-align: center;
  background-color: #a1a1a5;
  border-radius: 50%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  @include hover-focus {
    background-color: #42a5f5;
  }
}


// 8. Site footer
//

.site-footer {
  padding: 1.5rem 0;
  font-size: .8125rem;
  text-align: center;
  background-color: $gray-lightest;

  p {
    margin-bottom: 0;
  }

  ul {
    padding: 0;
    margin-bottom: .625rem;
  }

  li {
    display: inline-block;
  }

  a {
    color: $gray;

    @include hover-focus {
      color: $body-color;
    }
  }
}


// Make the footer sticky
// -------------------------
html {
  position: relative;
  min-height: 100%;
}

body {
  // Margin bottom by footer height
  margin-bottom: 109px;
}

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  // Set the fixed height of the footer here
  height: 109px;
}


// 9. Index page & miscellaneous
//

.site-content {
  padding-top: 3rem;
  padding-bottom: 4rem;

  @media (min-width: 768px) {
    max-width: 40em;
  }
}

.home {
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(0,0,0,.1);

  &:last-child {
    border-bottom-color: transparent;
  }
}

.entry-header {
  margin-bottom: 1rem;
  font-size: .875rem;
  color: $gray-light;
}

.more-link {
  margin-bottom: 1.5rem;
  font-size: .9375rem;
}

.post-content {
  padding-bottom: 2rem;

  img {
    border-radius: 3px;
    box-shadow: 0 1px 4px $gray-02;
  }
}


// Under construction

.welcome {
  max-width: 560px;
  margin: 3rem auto 1.5rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;

  h2 {
    margin: 0 0 1.5rem;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: -1px;
  }

  p {
    color: #444;
  }

  .octicon-tools {
    margin: 3rem;
    color: rgba(0,0,0,.5);
  }
}


// miscellaneous
//

// Quick spacing
.mb0 {
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: .5rem;
}

.mb2 {
  margin-bottom: 1.5rem;
}

.formspree {
  max-width: 24rem;
  margin: 3rem auto;

  .btn {
    float: right;
  }
}

.form-control {
  padding: .75rem;
  font-size: .875rem;
}

// Back to Top
a.back-to-top-link {
  border-bottom: 0;
}

.back-to-top-link {
  position: relative;
  top: 1.5rem;
  display: inline-block;
  color: $navbar-bg-color;
  border-radius: 50%;

  @media (min-width: 576px) {
    top: 1rem;
  }

  @media (min-width: 1200px) {
    display: none;
  }

  @include focus {
    background: rgba(51,181,229,.2);
    transition: background .2s;
  }
}

.icon-up {
  display: inline-block;
  vertical-align: bottom;
  fill: currentColor;
}
