---
layout: default
title: Archives
description: "This Achive page lists all posts on the blog, in date order."
---

<h1 class="page-title">{{ page.title }}</h1>

<div class="post-archive">
  {% for post in site.posts %}
  {% assign post_month_year = post.date | date: "%B %Y" %}
  {% assign newer_post_month_year = post.next.date | date: "%B %Y" %}
  {% if post_month_year != newer_post_month_year %}
  {% if forloop.index != 1 %}</ul>{% endif %}
  <h3>{{ post_month_year }}</h3>
  <ul>
  {% endif %}
    <li><a href="{{ post.url | prepend:site.baseurl }}" class="post-title-archive">{{ post.title }}</a>
        <span class="post-date">{{ post.date | date_to_long_string }}</span>
    </li>
  {% endfor %}
  </ul>
</div>
